<h3>Education</h3>
<p>Max Technical Training  Mason, OH	August 2021</p>
<p>Full-Stack Java  |  C# / .NET MAXimum Coding Boot Camp Graduate
  Successfully completed an intensive 423-hour Full Stack Software Developer course taught by instruction team with 30+ years combined professional development experience.</p>
<p>    • Java Fundamentals:  class modeling, variable declarations, looping constructs, interfaces, conditional statements, exception handling, debugging, transaction management,
       and object-oriented design, Eclipse IDE
  • Advanced Java: Lambdas, JUnit, Object-Relational Mapping, JPA, Hibernate, JDBC, Spring Framework, Spring Boot, Apache Tomcat Server  
  • MySQL, SQL Query writing, table creation, data modeling fundamentals
  • Front-end Web Technologies: HTML, CSS, JavaScript, jQuery, Bootstrap, Angular, and VS Code
  • Agile and Professional Scrum Master Certification Course</p>
  <p>Capstone project | Independently developed complete, Angular SPA application that connects with both C# .Net Core RESTful web service backend with SQL Server database using Entity Framework Core and a Java web service written using Spring Framework connected to MySQL database. Application is Purchase Request System simulating an application allowing users to requisition supplies from variety of vendors, subject to manager approval. Students individually write every line of Angular application along with C# and Java services.</p>
<p>Wright State University  Dayton, OH	09.04 – 05.06
  Spanish Major</p>
