<h3>Experience</h3>
<p>Kroger  Springfield, OH	03.03 - 06.21</p>
<p>Produce Manager	01.12 - 06.21</p>
<p>    • Leveraged excellent customer service, leadership, and organizational skills to maximize sales and profits of 
  $4 MM+ in annual sales
      • Ordered and inventoried 2k – 5k+ SKU's of fresh product
      • Coordinated weekly staff scheduling of 15-person team, including daily supervision; performed associated administrative tasks
      • Implemented all OSHA Safety / Health Department food safety regulations to maintain safe work environment
      • Completed and verified all department fiscal reporting:  709’s, 710’s, Store Cycle Reports, Inventory Difference Report, Vendor / Receiving invoices, electronic invoices / transfers, Store Manager Exception Reports, and Pending Inventory forms
      • Trained 10+ department heads on processes of fiscal reporting
      • Monitored and led subdepartments to meet and exceed sales, shrink, and labor goals
      • Successfully executed shrink management programs to reduce shrink by 3%
      • Participated in Inclusion Committee to enrich customer / associate experiences by building an inclusive and diverse culture
      • Coached / mentored employees to develop marketable skills and pursue personal career growth
      • Contributor on Reset Team during 2014 – 2018:  prepped stores for grand openings, re-grand openings, and large equipment change overs</p>
<p>Assistant Manager	2010 - 2011
  Nature's Market Lead	2009 - 2010
  Produce Clerk	2004 - 2009
  Cashier	2003</p> 
<h3>Volunteer Activity</h3>  
<p>ESL Teacher   |   MVCTC Aspire Program   Huber Heights, OH	09.15 – 05.21</p>
<p>Planned and executed lesson plans for classes of 10 to 15 students to meet and exceed state guidelines to teach foreign adults English, American culture, and career skills to improve quality of life. Championed personal goal setting, assessments, and new methods to further success in class.</p>  
